@font-face {
   font-family: 'Body Text Large Regular';
   font-display: swap;
   src: url('file:///C:/Users/Luis/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-12-05_213255/fonts/Body%20Text%20Large%20Regular/font.ttf');
}
